body{
    background-image: url(../img/20120118182300-f3b23f1f.jpg);
}
form{
    margin-top: 49px;
    padding: 1em;
    border: 1px solid #2ecc71;
    border-radius: 1em;
    background-color: #3498db;
   
}
h1{
    text-align: center;
    text-decoration: underline;
    color:white;
}
label{
    color: white;
}
textarea {
    height: 5em;
    resize:both;
}

